.e1_8 { 
	overflow:hidden;
}
.e1_8 { 
	background-color:rgba(252.00000017881393, 248.0000004172325, 253.0000001192093, 1);
	width:1512px;
	height:5025px;
	position:absolute;
}
.e56_107 { 
	width:765px;
	height:502px;
	position:absolute;
	left:0px;
	top:757px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/nolan_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_32 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:712px;
	top:1507px;
}
.e1_20 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:1029px;
	top:45px;
}
.e2_35 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:290px;
	height:70px;
	position:absolute;
	left:195px;
	top:1384px;
	font-family:Open Sans;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e56_104 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:499px;
	height:70px;
	position:absolute;
	left:515px;
	top:562px;
	font-family:Noto Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e5_36 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:560px;
	height:70px;
	position:absolute;
	left:195px;
	top:1510px;
	font-family:Noto Sans;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e5_37 { 
	color:rgba(165.74999392032623, 48.62000986933708, 48.62000986933708, 1);
	width:625px;
	height:26px;
	position:absolute;
	left:197px;
	top:1564px;
	font-family:Noto Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e6_38 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:1090px;
	height:88px;
	position:absolute;
	left:195px;
	top:1601px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e43_30 { 
	width:1102px;
	height:448px;
	position:absolute;
	left:193px;
	top:2799px;
}
.e9_41 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:691px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e9_42 { 
	color:rgba(166.00000530481339, 49.00000087916851, 49.00000087916851, 1);
	width:618px;
	height:62px;
	position:absolute;
	left:2px;
	top:59px;
	font-family:Noto Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e9_43 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:1102px;
	height:352px;
	position:absolute;
	left:0px;
	top:96px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e43_31 { 
	width:1074px;
	height:326px;
	position:absolute;
	left:193px;
	top:3336px;
}
.e26_8 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:508.03643798828125px;
	height:70px;
	position:absolute;
	left:2px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e26_9 { 
	color:rgba(166.00000530481339, 49.00000087916851, 49.00000087916851, 1);
	width:689px;
	height:46px;
	position:absolute;
	left:2px;
	top:61px;
	font-family:Noto Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e26_10 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:1074px;
	height:229px;
	position:absolute;
	left:0px;
	top:97px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e43_32 { 
	width:1074px;
	height:298px;
	position:absolute;
	left:193px;
	top:3724px;
}
.e36_15 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:508.03643798828125px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e36_16 { 
	color:rgba(166.00000530481339, 49.00000087916851, 49.00000087916851, 1);
	width:708px;
	height:46px;
	position:absolute;
	left:2px;
	top:61px;
	font-family:Noto Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e36_17 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:1074px;
	height:198px;
	position:absolute;
	left:0px;
	top:100px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e43_33 { 
	width:1074px;
	height:148px;
	position:absolute;
	left:193px;
	top:4106px;
}
.e38_18 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:758px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e38_19 { 
	color:rgba(166.00000530481339, 49.00000087916851, 49.00000087916851, 1);
	width:598px;
	height:46px;
	position:absolute;
	left:2px;
	top:61px;
	font-family:Noto Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e38_20 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:1074px;
	height:54px;
	position:absolute;
	left:0px;
	top:94px;
	font-family:Noto Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e43_34 { 
	width:1074px;
	height:182px;
	position:absolute;
	left:193px;
	top:4339px;
}
.e41_24 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:508.03643798828125px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e41_25 { 
	color:rgba(166.00000530481339, 49.00000087916851, 49.00000087916851, 1);
	width:489.2492370605469px;
	height:46px;
	position:absolute;
	left:2px;
	top:61px;
	font-family:Noto Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e41_26 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:1074px;
	height:88px;
	position:absolute;
	left:0px;
	top:94px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e43_35 { 
	width:1074px;
	height:226px;
	position:absolute;
	left:193px;
	top:4636px;
}
.e43_27 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:710px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e43_28 { 
	color:rgba(166.00000530481339, 49.00000087916851, 49.00000087916851, 1);
	width:730px;
	height:46px;
	position:absolute;
	left:2px;
	top:61px;
	font-family:Noto Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e43_29 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:1074px;
	height:132px;
	position:absolute;
	left:0px;
	top:94px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e22_7 { 
	width:526px;
	height:306px;
	position:absolute;
	left:509px;
	top:2407.416015625px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e43_45 { 
	width:34.915584564208984px;
	height:34.915584564208984px;
	position:absolute;
	left:498.100341796875px;
	top:2401.476806640625px;
}
.e43_46 { 
	background-color:rgba(61.64714723825455, 132.8124949336052, 132.8124949336052, 1);
	width:34.915584564208984px;
	height:34.915584564208984px;
	position:absolute;
	left:0px;
	top:0px;
}
.e43_47 { 
	color:rgba(255, 255, 255, 1);
	width:24.828859329223633px;
	height:24.828859329223633px;
	position:absolute;
	left:3.879528045654297px;
	top:6.207222938537598px;
	font-family:Gorditas;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e22_5 { 
	width:463px;
	height:352px;
	position:absolute;
	left:282px;
	top:2006.416015625px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e7_40 { 
	width:443px;
	height:584px;
	position:absolute;
	left:786px;
	top:1756.416015625px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_3 { 
	width:465px;
	height:221px;
	position:absolute;
	left:280px;
	top:1739.416015625px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e43_38 { 
	width:34.915584564208984px;
	height:34.915584564208984px;
	position:absolute;
	left:251.3636474609375px;
	top:1726px;
}
.e43_36 { 
	background-color:rgba(61.64714723825455, 132.8124949336052, 132.8124949336052, 1);
	width:34.915584564208984px;
	height:34.915584564208984px;
	position:absolute;
	left:0px;
	top:0px;
}
.e43_37 { 
	color:rgba(255, 255, 255, 1);
	width:24.828859329223633px;
	height:24.828859329223633px;
	position:absolute;
	left:3.879528045654297px;
	top:6.207195281982422px;
	font-family:Gorditas;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e43_39 { 
	width:34.915584564208984px;
	height:34.915584564208984px;
	position:absolute;
	left:775.097412109375px;
	top:1743.046875px;
}
.e43_40 { 
	background-color:rgba(61.64714723825455, 132.8124949336052, 132.8124949336052, 1);
	width:34.915584564208984px;
	height:34.915584564208984px;
	position:absolute;
	left:0px;
	top:0px;
}
.e43_41 { 
	color:rgba(255, 255, 255, 1);
	width:24.828859329223633px;
	height:24.828859329223633px;
	position:absolute;
	left:3.879528045654297px;
	top:6.20719575881958px;
	font-family:Gorditas;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e43_42 { 
	width:34.915584564208984px;
	height:34.915584564208984px;
	position:absolute;
	left:262.226318359375px;
	top:2003.23876953125px;
}
.e43_43 { 
	background-color:rgba(61.64714723825455, 132.8124949336052, 132.8124949336052, 1);
	width:34.915584564208984px;
	height:34.915584564208984px;
	position:absolute;
	left:0px;
	top:0px;
}
.e43_44 { 
	color:rgba(255, 255, 255, 1);
	width:24.828859329223633px;
	height:24.828859329223633px;
	position:absolute;
	left:3.879528045654297px;
	top:6.207222938537598px;
	font-family:Gorditas;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e56_92 { 
	width:920px;
	height:200px;
	position:absolute;
	left:296px;
	top:202px;
}
.e56_66 { 
	width:920px;
	height:175px;
	position:absolute;
	left:0px;
	top:23.00000762939453px;
}
.e56_64 { 
	color:rgba(42.26626440882683, 75.60878366231918, 114.74999696016312, 1);
	width:692px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Open Sans;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e56_65 { 
	color:rgba(42.26626440882683, 75.60878366231918, 114.74999696016312, 1);
	width:670px;
	height:111px;
	position:absolute;
	left:250px;
	top:64px;
	font-family:Open Sans;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e56_67 { 
	background-color:rgba(172.98564165830612, 213.56249392032623, 186.7901337146759, 1);
	width:23px;
	height:22px;
	position:absolute;
	left:545px;
	top:30px;
}
.e56_93 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(172.98564165830612, 213.56249392032623, 186.7901337146759, 1);
	width:25.000001907348633px;
	height:23.999998092651367px;
	position:absolute;
	left:365px;
	top:167px;
}
.e56_68 { 
	background-color:rgba(211.6854402422905, 228.4374949336052, 217.3845872282982, 1);
	width:23px;
	height:23px;
	position:absolute;
	left:515px;
	top:0px;
}
.e56_94 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(211.6854402422905, 228.4374949336052, 217.3845872282982, 1);
	width:25.000001907348633px;
	height:24.999998092651367px;
	position:absolute;
	left:398px;
	top:200px;
}
.e56_80 { 
	background-color:rgba(211.6854402422905, 228.4374949336052, 217.3845872282982, 1);
	width:23px;
	height:23px;
	position:absolute;
	left:596px;
	top:0px;
}
.e56_95 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(211.6854402422905, 228.4374949336052, 217.3845872282982, 1);
	width:25.000001907348633px;
	height:24.999998092651367px;
	position:absolute;
	left:309px;
	top:200px;
}
.e56_73 { 
	background-color:rgba(172.98564165830612, 213.56249392032623, 186.7901337146759, 1);
	width:22px;
	height:23px;
	position:absolute;
	left:596px;
	top:58px;
}
.e56_96 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(172.98564165830612, 213.56249392032623, 186.7901337146759, 1);
	width:25.000001907348633px;
	height:24.999998092651367px;
	position:absolute;
	left:309px;
	top:136px;
}
.e56_77 { 
	background-color:rgba(172.98564165830612, 213.56249392032623, 186.7901337146759, 1);
	width:23px;
	height:23px;
	position:absolute;
	left:559px;
	top:58px;
}
.e56_97 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(172.98564165830612, 213.56249392032623, 186.7901337146759, 1);
	width:25.000001907348633px;
	height:24.999998092651367px;
	position:absolute;
	left:350px;
	top:136px;
}
.e56_69 { 
	background-color:rgba(211.6854402422905, 228.4374949336052, 217.3845872282982, 1);
	width:22px;
	height:23px;
	position:absolute;
	left:556px;
	top:0px;
}
.e56_98 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(211.6854402422905, 228.4374949336052, 217.3845872282982, 1);
	width:25.000001907348633px;
	height:24.999998092651367px;
	position:absolute;
	left:353px;
	top:200px;
}
.e56_76 { 
	background-color:rgba(172.98564165830612, 213.56249392032623, 186.7901337146759, 1);
	width:22px;
	height:23px;
	position:absolute;
	left:633px;
	top:58px;
}
.e56_99 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(172.98564165830612, 213.56249392032623, 186.7901337146759, 1);
	width:25.000001907348633px;
	height:24.999998092651367px;
	position:absolute;
	left:268px;
	top:136px;
}
.e56_74 { 
	background-color:rgba(172.98564165830612, 213.56249392032623, 186.7901337146759, 1);
	width:23px;
	height:22px;
	position:absolute;
	left:621px;
	top:30px;
}
.e56_100 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(172.98564165830612, 213.56249392032623, 186.7901337146759, 1);
	width:25.000001907348633px;
	height:23.999998092651367px;
	position:absolute;
	left:281px;
	top:167px;
}
.e56_79 { 
	background-color:rgba(172.98564165830612, 213.56249392032623, 186.7901337146759, 1);
	width:22px;
	height:22px;
	position:absolute;
	left:583px;
	top:30px;
}
.e56_101 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(172.98564165830612, 213.56249392032623, 186.7901337146759, 1);
	width:25.000001907348633px;
	height:23.999998092651367px;
	position:absolute;
	left:323px;
	top:167px;
}
.e56_78 { 
	background-color:rgba(172.98564165830612, 213.56249392032623, 186.7901337146759, 1);
	width:23px;
	height:23px;
	position:absolute;
	left:669px;
	top:58px;
}
.e56_102 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(172.98564165830612, 213.56249392032623, 186.7901337146759, 1);
	width:25.000001907348633px;
	height:24.999998092651367px;
	position:absolute;
	left:228px;
	top:136px;
}
.e56_103 { 
	width:173px;
	height:24px;
	position:absolute;
	left:451px;
	top:190px;
	background-image:url(images/clg_logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_110 { 
	width:741px;
	height:503px;
	position:absolute;
	left:771px;
	top:759px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e65_111 { 
	background-color:rgba(255, 255, 255, 1);
	width:513px;
	height:119px;
	position:absolute;
	left:500px;
	top:1087px;
}
.e56_105 { 
	color:rgba(67.96112403273582, 90.50365760922432, 116.96663081645966, 1);
	width:510px;
	height:70px;
	position:absolute;
	left:501px;
	top:1104px;
	font-family:Open Sans;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
